NODE_ENV=development

# Auth0 Configuration
AUTH0_DOMAIN=your-domain.us.auth0.com
AUTH0_AUDIENCE=https://personal-budget-tracker

# AWS Configuration
AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=dummy
AWS_SECRET_ACCESS_KEY=dummy

# Database Configuration (for local development)
DYNAMODB_ENDPOINT=http://localhost:8000
ACCOUNTS_TABLE_NAME=Accounts
CATEGORIES_TABLE_NAME=Categories
MIGRATIONS_TABLE_NAME=Migrations
TRANSACTIONS_TABLE_NAME=Transactions
USERS_TABLE_NAME=Users
