NODE_ENV=development

# Auth0
# AUTH_AUDIENCE=https://personal-budget-tracker
# AUTH_CLAIM_NAMESPACE=https://personal-budget-tracker
# AUTH_ISSUER=https://<TENANT>.<REGION>.auth0.com

# Cognito
AUTH_CLAIM_NAMESPACE=https://personal-budget-tracker
AUTH_CLIENT_ID=<USER_POOL_CLIENT_ID>
AUTH_ISSUER=https://cognito-idp.<REGION>.amazonaws.com/<USER_POOL_ID>

# Database Table Names
ACCOUNTS_TABLE_NAME=Accounts
CATEGORIES_TABLE_NAME=Categories
MIGRATIONS_TABLE_NAME=Migrations
TRANSACTIONS_TABLE_NAME=Transactions
USERS_TABLE_NAME=Users

# Database Configuration
DYNAMODB_ENDPOINT=http://localhost:8000

# AWS Configuration
AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=dummy
AWS_SECRET_ACCESS_KEY=dummy


# AWS Bedrock AI Configuration
AWS_BEARER_TOKEN_BEDROCK=<your_bedrock_api_key> # Long-term API key
AWS_BEDROCK_MAX_TOKENS=2000
AWS_BEDROCK_MODEL_ID=us.amazon.nova-2-lite-v1:0 # Prefix (us./eu.) must match AWS_REGION
AWS_BEDROCK_TEMPERATURE=0.2
