NODE_ENV=development

# Auth Stack
AUTH_ALLOW_USER_REGISTRATION=true
AUTH_CALLBACK_URLS=http://localhost:5173
AUTH_CLAIM_NAMESPACE=https://personal-budget-tracker
AUTH_DOMAIN_PREFIX=dev-budget-auth
AUTH_LOGOUT_URLS=http://localhost:5173
AWS_LAMBDA_MEMORY_SIZE=512
AWS_LAMBDA_TIMEOUT_SECONDS=30
