NODE_ENV=development

# Auth Stack
# AUTH_ALLOW_USER_REGISTRATION=true
AUTH_CALLBACK_URLS=http://localhost:5173
AUTH_CLAIM_NAMESPACE=https://personal-budget-tracker
AUTH_DOMAIN_PREFIX=dev-budget-auth
AUTH_LOGOUT_URLS=http://localhost:5173

AWS_BEDROCK_CONNECTION_TIMEOUT="5000"
AWS_BEDROCK_MAX_TOKENS="2000"
AWS_BEDROCK_MODEL_ID="<model-id>"
AWS_BEDROCK_REQUEST_TIMEOUT="30000"
AWS_BEDROCK_TEMPERATURE="0.2"

CHAT_HISTORY_MAX_MESSAGES="20"
CHAT_MESSAGE_TTL_SECONDS="86400"
